/*Font family for the document*/
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Formatting for the page header; 'display: flex' allows the header text to be centered 
vertically and horizontally*/
header {
    background-color: rgb(4, 4, 121);
    height: 70px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/*Flexbox created so that the search form and the weather display will line up
horizontally (rather than in column). The former is held in an <aside> element; the latter
in a <div> with id="weather"*/
.row {
    display: flex;
    flex-direction: row;
}

/*Form: Padding to separate the search form from the weather display, for greater
clarity*/
aside {
    padding-right: 20px;
}

/*Form: Formatting for the text header over the input element and search button*/
#form-heading {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}

/*Form: Formatting for the input element; textbox size increased and corners rounded*/
.form-input {
    margin-bottom: 20px;
    height: 30px;
    width: 275px;
    border-radius: 5px;
    padding-left: 15px;
    border: solid black 1px;
}

/*Form: Formatting for the 'Search' button; size of button increased and 
corners rounded for a continuity of style with input element*/
#search-button {
    margin-bottom: 20px;
    height: 30px;
    width: 295px;
    border-radius: 5px;
    border: none;
    background-color:rgb(128, 177, 229);
    color: white;
}

/*Form: Formatting for the search history buttons to be introduced in 
JavaScript. flexbox created so that buttons display in column*/
#history {
    display: flex;
    flex-direction: column;
}

/*Weather: Formatting for the '5-Day Forecast' element*/
#forecast-header {
    color: black;
}