/* Blue background-color for header */
header {
    background-color: rgb(4, 4, 121);
    margin-bottom: 20px;
}

/* Flexbox ensures that input and search button are always displayed in column */
.input-group {
    display: flex;
    flex-direction: column;
}

/*Formatting for the input element; input size increased and corners rounded*/
.form-input {
    margin-bottom: 5px;
    height: 30px;
    width: 250px;
    border-radius: 5px;
    padding-left: 15px;
    border: solid black 1px;
}

/*Formatting for the 'Search' button; size of button increased and 
corners rounded for a continuity of style with input element. The text 
is centered within its button using align-items and justify-content, as the
default placement is meant for a button of a different size.*/
#search-button {
    margin-bottom: 5px;
    height: 30px;
    width: 250px;
    border-radius: 5px;
    border: none;
    background-color:rgb(128, 177, 229);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Centers the cards displaying the 5-day forecast within their <section> */
#forecast {
    display: flex;
    justify-content: center;
}